body {
  background: #04F404;
  height: 100vh;
}

.scoreboard-container {
  position: relative;
}

.chara {
  max-width: 500px;
  height: auto;
}

.ain {
  position: absolute;
  left: -100px;
  bottom: 0;
  max-width: 800px;
}

.bubu {
  position: absolute;
  right: 0px;
  bottom: 150px;
}
.scoreboard {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  font-weight: bold;
}

.scoreboard--section {
  flex-basis: 40%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.9em;
}

.scoreboard--section .name {
  margin: 0;
  font-size: 125px;
  text-transform: uppercase;
}

.scoreboard--section .score {
  
}

.scoreboard-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.scoreboard-buttons--button {
  z-index: 5;
  font-size: 24px;
}

.scoreboard-buttons--section {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard--section-1 {
  background-position: 19% 50%;
}

.scoreboard-buttons--section button {
  margin-right: 2em;
}