#container {
  background: #04F404;
  height: 100vh;
}

.scoreboard-container {
  position: relative;
}

.liv {
  position: absolute;
  left: -100px;
}

.bubu {
  position: absolute;
  right: -120px;
  top: -350px;
}
.scoreboard {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  font-weight: bold;
}

.scoreboard--section {
  flex-basis: 50%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.scoreboard-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.scoreboard-buttons--button {
  z-index: 5;
  font-size: 24px;
}

.scoreboard-buttons--section {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard--section-1 {
  background-position: 19% 50%;
}

.scoreboard-buttons--section button {
  margin-right: 2em;
}